<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log In</title>

  <link rel="shortcut icon" type="image/png" href="/WebApplication1/favicon.png" />
  <!--
-->

  <link rel="stylesheet" href="Stylize/fa/css/all.min.css">
  <link rel="stylesheet" href="Stylize/boot/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">
    @font-face {
      font-family: 'Varela Round';
      font-style: normal;
      font-weight: 400;
      src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v10/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    body {
      font-family: 'Varela Round', sans-serif;
      background-image: url("Stylize/css/stock-bg2.jpg");
      background-size: cover;
    }

    .modal-login {
      width: 350px;
    }

    .modal-login .modal-content {
      padding: 20px;
      border-radius: 5px;
      border: none;
    }

    .modal-login .modal-header {
      border-bottom: none;
      position: relative;
      justify-content: center;
    }

    .modal-login .close {
      position: absolute;
      top: -10px;
      right: -10px;
    }

    .modal-login h4 {
      color: #636363;
      text-align: center;
      font-size: 26px;
      margin-top: 0;
    }

    .modal-login .modal-content {
      color: #999;
      border-radius: 1px;
      margin-bottom: 15px;
      background: #fff;
      border: 1px solid #f3f3f3;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 25px;
    }

    .modal-login .form-group {
      margin-bottom: 20px;
    }

    .modal-login label {
      font-weight: normal;
      font-size: 13px;
    }

    .modal-login .form-control {
      min-height: 38px;
      padding-left: 5px;
      box-shadow: none !important;
      border-width: 0 0 1px 0;
      border-radius: 0;
    }

    .modal-login .form-control:focus {
      border-color: #ccc;
    }

    .modal-login .input-group-addon {
      max-width: 42px;
      text-align: center;
      background: none;
      border-width: 0 0 1px 0;
      padding-left: 5px;
      border-radius: 0;
    }

    .modal-login .btn {
      font-size: 16px;
      font-weight: bold;
      background: #19aa8d;
      border-radius: 3px;
      border: none;
      min-width: 140px;
      outline: none !important;
    }

    .modal-login .btn:hover,
    .modal-login .btn:focus {
      background: #179b81;
    }

    .modal-login .hint-text {
      text-align: center;
      padding-top: 5px;
      font-size: 13px;
    }

    .modal-login .modal-footer {
      color: #999;
      border-color: #dee4e7;
      text-align: center;
      margin: 0 -25px -25px;
      font-size: 13px;
      justify-content: center;
    }

    .modal-login a {
      color: #fff;
      text-decoration: underline;
    }

    .modal-login a:hover {
      text-decoration: none;
    }

    .modal-login a {
      color: #19aa8d;
      text-decoration: none;
    }

    .modal-login a:hover {
      text-decoration: underline;
    }

    .modal-login .fa {
      font-size: 21px;
    }

    .trigger-btn {
      display: inline-block;
      margin: 100px auto;
    }
  </style>
</head>

<body onload="loadsign()">

  <script>
    function loadsign() {
      if (document.getElementById('myModal').style.display == 'none') {
        document.getElementById('myModal').style.display = 'block';
      }
    }
  </script>
  <script type="text/javascript">
    $(window).on('load', function() {
      $('#myModal').modal('show');
    });
  </script>


  <!-- Modal HTML -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign In</h4>
        </div>
        <div class="modal-body">
          <form action="login.jsp" method="post">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="email" placeholder="Email" required="required">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="pwd" placeholder="Password" required="required">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
            </div>

          </form>
        </div>
        <div class="modal-footer">Don't have an account? <a href="register.html">Create one</a></div>
      </div>
    </div>
  </div>
</body>

</html>
<!--html>
<head>
<title>Login</title>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="Stylize/css/login.css" rel="stylesheet">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div id="login">

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form id="login-form" class="form" action="login.jsp" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="pwd" id="pwd" class="form-control" required>
                        </div>
                        <div class="form-group"><br>
                            <input type="Submit" name="Submit" class="btn btn-info btn-md" value="submit">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="register.html" class="text-info">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html-->
